html{
  font-size: 18px;
}
.App {
  text-align: center;
}
.file-upload-form{
  background: #f6f6f6;
  border: #eee 1px solid;
  border-radius: 0.5em;
  width: 500px;
  margin: 2em auto;
  text-align: left;
  padding: 1em;
}
.file-info{
  color: #0000bb;
  text-align: left;
  font-size: .8em;
}